<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>技工星级</title>
		<link rel="stylesheet" href="../../css/index.css" />
		<link rel="stylesheet" href="../../css/bootstrap.css" />
	</head>
	<style>
	  .el-row {
	    margin-bottom: 20px;
	    &:last-child {
	      margin-bottom: 0;
	    }
	  }
	  .el-col {
	    border-radius: 4px;
	  }
	  .bg-purple-dark {
	    background: #99a9bf;
	  }
	  .bg-purple {
	    background: #d3dce6;
	  }
	  .bg-purple-light {
	    background: #e5e9f2;
	  }
	  .grid-content {
	    border-radius: 4px;
	    min-height: 36px;
	  }
	  .row-bg {
	    padding: 10px 0;
	    background-color: #f9fafc;
	  }
	</style>
	<body>
		<div id="meteam">
			<form class="form-inline">
			  <div class="form-group">
			    <!--<label class="sr-only">Email</label>-->
			    <!--<p class="form-control-static">email@example.com</p>-->
			  </div>
			  <!--<div class="form-group">
			    <label for="inputPassword2" class="sr-only">请输入关键字</label>
			    <input type="password" class="form-control" id="inputPassword2" placeholder="请输入关键字" >
			  </div>
			  <button type="submit" class="btn btn-default">搜索</button>-->
			  <button type="button" class="btn btn-default" @click="add()">新增星级</button>
			</form>
			<div id="app">
					  <el-table
		      :data="PageInfo.list"
		      style="width: 100%" >
		      <el-table-column
		        prop="sid"
		        label="星级编号"
		        width="300px">
		        	
		      </el-table-column>
		      <el-table-column
		        prop="sname"
		        label="星级名称"
		        width="300px">
		        	
		      </el-table-column>
		     <el-table-column
		        prop="sprice"
		        label="星级价格"
		        width="300px">
		        	
		      </el-table-column>
		      <el-table-column label="操作" width="350px" style="text-align: center;">
		      	<template slot-scope="temp">
		      	 
		      	  <el-button type="primary" icon="el-icon-edit" @click="updatesome(temp.row)" circle></el-button>
		      	<el-button @click="delmecha(temp.row.sid)" type="danger" icon="el-icon-delete" circle ></el-button>
		      	</template>
		      </el-table-column>
		    </el-table>
		     <div class="block">
   
    <el-pagination
      @size-change="handleSizeChange"
      @current-change="handleCurrentChange"
      :current-page="fenye.page"
      :page-sizes="[3, 10, 15, 20]"
      :page-size="fenye.size"
      layout="total, sizes, prev, pager, next, jumper"
      :total="total">
    </el-pagination>
  </div>
			</div>
			<div id="updatesome">
				
				<el-dialog title="修改星级信息" :visible.sync="dialogFormVisible">
				  <el-form :model="form" ref="form">
				    <el-form-item label="星级名称" prop="sname" >
				      <el-input v-model="form.sname" autocomplete="off"></el-input>
				    </el-form-item>
				    <el-form-item label="星级费用" prop="sprice" >
				      <el-input v-model="form.sprice" autocomplete="off"></el-input>
				    </el-form-item>
				    
				  </el-form>
				  <div slot="footer" class="dialog-footer">
				    <el-button @click="dialogFormVisible = false">取 消</el-button>
				    <el-button type="button" @click="updateqd()" >确 定</el-button>
				  </div>
				</el-dialog>
			</div>
			<div id="addsome">
				
				<el-dialog title="新增星级信息" :visible.sync="dialogFormVisible1">
				  <el-form :model="form1" ref="form1">
				    <el-form-item label="星级名称" prop="sname" >
				      <el-input v-model="form1.sname" autocomplete="off"></el-input>
				    </el-form-item>
				    <el-form-item label="星级费用" prop="sprice" >
				      <el-input v-model="form1.sprice" autocomplete="off"></el-input>
				    </el-form-item>
				    
				  </el-form>
				  <div slot="footer" class="dialog-footer">
				    <el-button @click="dialogFormVisible1 = false">取 消</el-button>
				    <el-button type="button" @click="addsome()" >确 定</el-button>
				  </div>
				</el-dialog>
			</div>
		</div>
	</body>
	<script type="text/javascript" src="../../js/axios.min.js" ></script>
	<script type="text/javascript" src="../../js/axios_cfg.js" ></script>	
	<script type="text/javascript" src="../../js/jquery-1.12.4.js" ></script>
	<script type="text/javascript" src="../../js/vue.js" ></script>
	<script type="text/javascript" src="../../js/index.js" ></script>
	<script type="text/javascript" src="../../js/bootstrap.min.js" ></script>
	<script>
	
		var app=new Vue({
			el:"#meteam",
			data:{
					total:0,
					tname:'',
					PageInfo: {},
					fenye:{page:1,size:5},
					form:{},
					form1:{},
					dialogFormVisible:false,
					dialogFormVisible1:false
			},mounted(){
			
				this.goToPage(1, this.fenye.size);
			},methods: {
				add(){
					this.dialogFormVisible1=true;
				},
				addsome(){
					let _this = this;
					axios.post(`http://127.0.0.1:8080/dzw_sys/c/rei/insertmestar`,this.form1).then(function(resp) {
							if(resp.data.code == "200"){
								_this.dialogFormVisible1=false
								_this.goToPage(1,10);
							}
							_this.PageInfo = resp.data;
							
							_this.total=resp.data.total;
							
							console.log(resp.data)
						});
				},
				updatesome(data){
					
					this.form=JSON.parse(JSON.stringify(data));
					console.log(this.form);
					this.dialogFormVisible=true;
				},
				updateqd(){
					let _this = this;
					axios.put(`http://127.0.0.1:8080/dzw_sys/c/rei/updatemestar`,this.form).then(function(resp) {
							if(resp.data.code == "200"){
								_this.dialogFormVisible=false
								_this.goToPage(1,10);
							}
							_this.PageInfo = resp.data;
							
							_this.total=resp.data.total;
							
							console.log(resp.data)
						});
				},
				 handleSizeChange(val) {
			        console.log(`每页 ${val} 条`);
			       this.fenye.size=val;
			        this.goToPage(1,val);
			      },
			      handleCurrentChange(val) {
			        console.log(`当前页: ${val}`);
			        this.fenye.page=val;
			         this.goToPage(val,this.fenye.size);
			      },
					goToPage(p, s) {
						let _this = this;
	//					if(Commdiyname==''){
	//						Commdiyname="undefined";
	//					}
						axios.get(`http://127.0.0.1:8080/dzw_sys/c/rei/queryallmestar/${p}/${s}`).then(function(resp) {
							console.log(resp.data)
							_this.PageInfo = resp.data;
							_this.total=resp.data.total;
							console.log(resp.data.total)
						});
					
					},delmecha(sid){
						let _this = this;
						this.$confirm('此操作将永久删除该文件, 是否继续?', '提示', {
				          confirmButtonText: '确定',
				          cancelButtonText: '取消',
				          type: 'warning'
				        }).then(() => {
				        	axios.delete(`http://127.0.0.1:8080/dzw_sys/c/rei/deletemestar/${sid}`).then(function(resp) {
							
								if(resp.data.code == "200") {
									_this.goToPage(1,10);
									_this.$message({
							            type: 'success',
							            message: '删除成功!'
							        });
								}
							})
						}).catch(() => {
				          this.$message({
				            type: 'info',
				            message: '已取消删除'
				          });          
				        });
				        
					}
			}	
		})
	</script>
	</script>
</html>
