<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<link rel="icon" href="img/sdz.ico" type="images/x-ico" />
		<link rel="stylesheet" href="css/index.css" />
		<title>首页</title>
	</head>
	<body>
		<div id="syApp"  style="box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.4)">
			<el-container style="height: 930px;">
				<el-header style="padding: 0px;">
					<el-menu :default-active="activeIndex2" class="el-menu-demo" mode="horizontal" @select="handleSelect" :background-color="backgroundcolor" :text-color="textcolor" :active-text-color="activetextcolor">
						
						<el-menu-item>
							<img src="img/dzwlogo.gif" width="160px" height="40px" />
						</el-menu-item>

						<el-menu-item v-for="(item,i) in caiDanList" v-if="item.caidanidfu==0" class="xuanze" index="i+1" @click="yjAlod(item.controlleraction,item.caidanid)">{{item.menuname}}</el-menu-item>
<el-menu-item index="7" @click="zti" class="xuanze"><span class="el-icon-s-grid"></span>{{zhuti}}</el-menu-item>



						<el-dropdown style="float: right; margin-right: 100px;">
							<span class="el-dropdown-link">
								<span class="el-icon-s-custom"></span>
								<span style="color: darkorange;">{{EMP.empname}}</span>
								
							</span>
							<el-dropdown-menu slot="dropdown">
								<el-dropdown-item>个人信息</el-dropdown-item>
								<el-dropdown-item>注销</el-dropdown-item>

							</el-dropdown-menu>
						</el-dropdown>
					</el-menu>
				</el-header>
				<el-container>
					<el-aside width="200px" class="elaside">
						<el-row class="tac">
							<el-col :span="24">
								<!--:collapse="isCollapse"-->
								<el-menu default-active="1-4-1" class="el-menu-vertical-demo" @open="handleOpen" @close="handleClose" style="height: 870px;" :background-color="backgroundcolor" :text-color="textcolor" :active-text-color="activetextcolor">
									<!--首页显示营业报表,今日营业情况-->
									<el-menu-item index="0">
										<i class="el-icon-platform-eleme"></i>
										<span slot="title">首页</span>
									</el-menu-item>
								</el-menu>
							</el-col>
						</el-row>
					</el-aside>
					<el-main>
						<el-row>

							<el-col :span="22">
								<div class="grid-content bg-purple-dark nerong">
							</div>
							</div>
							</el-col>
						</el-row>
					</el-main>
				</el-container>
				<!--<el-footer style="background-color: aquamarine;">Footer</el-footer>-->
			</el-container>
		</div>
	</body>
	<script src="js/jquery-1.12.4.js" ></script>
	<script src="js/vue.js"></script>
	<script src="js/index.js"></script>
	<script src="js/jq_ajax_config.js"></script>
	<script src="js/menu_const.js"></script>
	<script>
		var syApp = new Vue({
			el:'#syApp',
			data: {
				treeNodes: {},
				/*菜单集合*/
				backgroundcolor: '',
				textcolor: '',
				activetextcolor: '',
				activeIndex: '1',
				activeIndex2: '1',
				isCollapse: true,
				zhuti: '主题颜色(白色)',
				EMP: {}, //用户对象
				qxkz: {},
				caiDanList: [],
				/*菜单集合*/
				caidanid: "",
				/*当前父菜单id*/
			},
			mounted() {
				
				let _this = this;
				this.user();
				_this.zhuti = '主题颜色(黑色)';
				_this.backgroundcolor = '#1a1e1a';
				_this.textcolor = '#fff';
				_this.activetextcolor = '#ffd04b';
//				vmwx.yansehei();
//				vmqt.yansehei();
//				vmkf.yansehei();
//				vmsj.yansehei();
//				vmcz.yansehei();
			},
			methods: {
				yjAlod(code, caidanid){
					this.caidanid = caidanid;
					$(".elaside").load(menuMapping[code]); //ajax加载页面

				},
				handleSelect(key, keyPath) { 
				},
				handleOpen(key, keyPath) {
					console.log(key, keyPath);
				},
				handleClose(key, keyPath) {
					console.log(key, keyPath);
				},
				//跟换主题方法
				zti() {
					let _this = this;
					if(_this.zhuti == '主题颜色(白色)') {
						_this.zhuti = '主题颜色(黑色)';
						_this.backgroundcolor = '#1a1e1a';
						_this.textcolor = '#fff';
						_this.activetextcolor = '#ffd04b';
//						vmwx.yansehei();
//						vmqt.yansehei();
//						vmkf.yansehei();
//						vmsj.yansehei();
//						vmcz.yansehei();
					} else if(_this.zhuti == '主题颜色(黑色)') {
						_this.zhuti = '主题颜色(白色)';
						_this.backgroundcolor = '';
						_this.textcolor = '';
						_this.activetextcolor = '';
//						vmwx.yansebai();
//						vmqt.yansebai();
//						vmkf.yansebai();
//						vmsj.yansebai();
//						vmcz.yansebai();
					}
				},
				user() {
					let _this = this;
					_this.EMP = sessionStorage.getItem("EMP");
					console.log(_this.EMP);
					
				},
				
				
			},
			
			
		})
	</script>
</html>
