<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>新增员工</title>
		<!--<link rel="stylesheet" type="text/css" href="../../css/index.css" />
		<link rel="stylesheet" type="text/css" href="../../css/bootstrap.min.css" />-->
	</head>

	<body>
		<div class="container" id="xzyg" style="width: 660px;">
			
			<div class="row">
				<table class="table center ">
					<tr align="center">
						<td>*职工编号：<input required v-model="person.employeeno" style="width: 300px;" type="text" class="form-control" id="inputEmail3"></td>
						<td>
							*角色：
							<select v-model="person.jurisdictionid">
								<option :value="temp.jurisdictionid" v-for="(temp,i) in tableData2">{{temp.jurisdictionname}}</option>
							</select>
						</td>

					</tr>
					<tr align="center">
						<td>*职工名称：<input v-model="person.empname" style="width: 300px;" type="text" class="form-control" id="inputEmail3"></td>
						<td>*职工账号：<input v-model="person.emplogenid" style="width: 300px;" type="text" class="form-control" id="inputPassword3"></td>

					</tr>
					<tr align="center">
						<td>*职工密码：<input v-model="person.emplogepaw" style="width: 300px;" type="password" class="form-control" id="inputPassword3"></td>
						<td valign="center">
							职工性别：<input v-model="person.esex" value="0" name="ww" type="radio">男
							<input v-model="person.esex" value="1" name="ww" type="radio">女
						</td>
					</tr>
					<tr align="center">
						<td>*出生日期：<input v-model="person.brithtimes" style="width: 300px;" type="date" class="form-control" id="inputPassword3"></td>
						<td>*手机电话：<input v-model="person.empphone" style="width: 300px;" type="text" class="form-control" id="inputPassword3"></td>
					</tr>
					<tr align="center">
						<td>*联系电话：<input v-model="person.emergencyphone" style="width: 300px;" type="text" class="form-control" id="inputPassword3"></td>
						<td>*联系地址：<input v-model="person.address" style="width: 300px;" type="text" class="form-control" id="inputPassword3"></td>
					</tr>
					<tr align="center">
						<td>*紧急人联系电话：<input v-model="person.emergencyphone" style="width: 300px;" type="text" class="form-control" id="inputPassword3"></td>
						<td>*毕业学校：<input v-model="person.graduationschool" style="width: 300px;" type="text" class="form-control" id="inputPassword3"></td>
					</tr>
					<tr align="center">
						<td>*邮箱：<input v-model="person.email" style="width: 300px;" type="text" class="form-control" id="inputPassword3"></td>
						<td>*职工工资：<input v-model="person.empmoney" style="width: 300px;" type="text" class="form-control" id="inputPassword3"></td>

					</tr>

					<tr align="center">
						<td>*入职时间：<input v-model="person.rztimes" style="width: 300px;" type="date" class="form-control" id="inputPassword3"></td>
						<td>*离职时间：<input v-model="person.lztimes" style="width: 300px;" type="date" class="form-control" id="inputPassword3" value="a"></td>

					</tr>
					<tr align="center">
						<td>
							*部门：
							<select v-model="person.departmentid">
								<option :value="temp.departmentid" v-for="(temp,i) in tableData">{{temp.depnames}}</option>
							</select>
						</td>
						<td>
							*职位：
							<select v-model="person.postid">
								<option :value="temp.postid" v-for="(temp,i) in tableData1">{{temp.postname}}</option>
							</select>
						</td>
					</tr>
					<tr align="center">
						<td>
							<input @click="updatePerson" type="button" class="btn btn-default" value="立即修改" />
							<input type="button" class="btn btn-default" value="返回" />
						</td>
						<td></td>
					</tr>
				</table>
			</div>
		</div>
	</body>
	<!--<script src="../../js/vue.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../js/index.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../js/axios.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../js/axios_cfg.js" type="text/javascript" charset="utf-8"></script>-->
	<script>
		var xzyg = new Vue({
			data() {
				return {
					person: {

					},
					tableData: [],
					tableData1: [],
					tableData2: {}
				}
			},
			methods: {
				queryByid(){
					let _this = this;
					var employeeno = sss.xg1["employeeno"];
					axios.get(`http://127.0.0.1:8080/dzw_sys/api/Emps/Emp/${employeeno}`).then(function(resp) {
						_this.person = resp.data;
					})
				},
				query() {
					let _this = this;
					axios.get(`http://127.0.0.1:8080/dzw_sys/api/Emps/bumen`).then(function(resp) {
						_this.tableData = resp.data;
					})
				},
				queryAll() {
					let _this = this;
					axios.get(`http://127.0.0.1:8080/dzw_sys/api/posts`).then(function(resp) {
						_this.tableData1 = resp.data;
					})
				},
				queryAlljuese() {
					let _this = this;
					axios.get(`http://127.0.0.1:8080/dzw_sys/api/posts/juese`).then(function(resp) {
						_this.tableData2 = resp.data;
					})
				},
				updatePerson() {
					let _this = this;
					axios.put("http://127.0.0.1:8080/dzw_sys/api/Emps/Emp",this.person).then(function(resp) {
						if(resp.data.code == "200") {
							_this.$message({
								message: '修改成功',
								type: 'success'
							})
							sss.isShows = false;
							sss.goToPage(1,3,"null");
							syApp.showView('view/cjl/组织机构', '组织机构');
						}
					}).catch(function(e) {});
				}

			},
			mounted() {
				this.queryByid();
				this.query();
				this.queryAll();
				this.queryAlljuese();
			}

		}).$mount("#xzyg");
	</script>

</html>